:root {
  --swiper-theme-color: #0a9e88;
}

.trending-container {
  width: 90%;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  width: 95%;
  /* height: 270px; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.3s ease;
}
.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
/* .slider-info {
  left: -50px;
  position: relative;
} */
.swiper-button-next {
  background-color: white;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://img.icons8.com/ios-glyphs/24/26e07f/long-arrow-right.png");
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  right: -2px;
  top: 120px;
  box-shadow: 2px 2px 5px gray;
  transition: all 0.3s ease;
}
.swiper-button-next:hover {
  transform: scale(1.1);
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-color: white;
  color: #0a9e88;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("https://img.icons8.com/ios-filled/50/26e07f/long-arrow-left.png");
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  top: 120px;
  left: -2px;
  transition: all 0.3s ease;
}
.swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper-button-prev::after {
  display: none;
}
.slider-info {
}
.slider-info > span {
  color: #0a9e88;

  font-size: 14px;
}
.slider-info > h4 {
  font-size: 19px;
}
.slider-info > h5 {
  font-size: 16px;
  color: rgb(65, 64, 64);
}
.svg-icon {
  width: 5%;
}
/* .swiper-father {
  position: relative;
  padding: 0 37px;
  width: 100%;

  box-sizing: border-box;
  border: 1px solid red;
  box-shadow: 5px 5px solid gray;
} */
/* <FontAwesomeIcon icon={faPhoneAlt} className="me-2" />
                +91-8887756502 */
