.header-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://www.wanderon.in/triplist/main-cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-content {
  position: relative;
  color: white;
}
.text-heading {
  position: absolute;
  margin-top: 75px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.text-heading > h1 {
  font-size: 3.1rem;
  font-weight: 600;
}
.text-heading > h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 80px;
}
.search-box {
  background-color: rgba(255, 255, 255, 0.219);
  height: 50px;
  width: 45%;
  margin: 0 auto;
  border: 1px solid rgb(10, 158, 136);
  border-radius: 5px;
  position: relative;
}
.search-btn {
  position: absolute;
  color: white;
  background-color: rgb(10, 158, 136);
  width: 10%;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 7px;
}
.search-icon {
  font-size: 32px;
  height: 100%;
}
.search-text {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  color: white;
  left: 0;
  padding: 5px;
  font-size: 20px;
  height: 100%;
}
.search-text::placeholder {
  color: white;
}
.icon-area {
  padding-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 92%;
  margin: 0 auto;
  /* border: 1px solid white; */
}
.icon-card {
  /* border: 1px solid white; */
}
.icon-card > img {
  width: 13%;
  margin-bottom: 8px;
}
.icon-card > h4 {
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 1rem;
  color: rgb(224, 220, 220);
}
